@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Roboto&display=swap');

*{ margin: 0;
    padding: 0;
    border: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
    color: #3a3b3c;
    background-color: #a2b9ee;
}
p{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    font-size: 25px;
}
img {
  width: 120px;
  height: 120px;
    
}
#header{
  width: 100%;
  height: 30vh;
  background-color: #a2b9ee;
}
#user-container{
  width: 100%;
  height: 25vh;
  background-color: #a2b9ee;
  text-align: center;
}
#options-container{
  width: 100%;
  height: 45vh;
  background-color: #a2b9ee;
}
#options-container div{
  width: 25vw;
  height: 25vh;
  float: left;
  padding: 15px;
  text-align: center;
  margin: 10px;
}
#logo {
    width: 30vw;
    height: 25vh;
    align-content: center;
    padding: 10px;
    clear: both;
    position: relative;
    margin: auto;
}
#level-container {
  background-color: #a2b9ee;
  width: 100%;
  height: 25vh;
}
#start-container {
  background-color: #a2b9ee;
  width: 100%;
  height: 20vh;
}
#results-message {
  background-color: #a2b9ee;
  width: 100%;
  height: 40vh;
}
#start-again {
  background-color: #a2b9ee;
  width: 100%;
  height: 30vh;
}
#game-container {
  background-color: #a2b9ee;
  width: 100%;
  height: 35vh;
}
#timer {
  background-color: #a2b9ee;
  width: 100%;
  height: 15vh;
  display: block;
}
#submit-container {
  background-color: #a2b9ee;
  width: 100%;
  height: 20vh;
}


